---
import * as path from 'node:path';
import BaseLayout from '../../layouts/base.astro';
import Founder from '../../components/founder.astro';
import LinkButton from '../../components/link-button.astro';
import SplitNewlines from '../../utils/split-newlines.jsx';

const mds = Astro.fetchContent('../../content/**/*.md');
const founders = mds.filter(md => path.dirname(md.file.pathname).endsWith('founders')).sort((a,b) => {
    const orderA = a.order || 9999;
    const orderB = b.order || 9999;
    return orderA - orderB;
});
const content = mds.filter(md => path.dirname(md.file.pathname).endsWith('home'));
const introHeading = content.find(md => md.unique_id === 'intro-heading');
const methodiekSection = content.find(md => md.unique_id === 'methodiek-section');
const pitch = mds.filter(md => path.dirname(md.file.pathname).endsWith('pitch'));
const pitchHeading = pitch.find(md => md.unique_id === 'pitch-heading');
const pitchButton = pitch.find(md => md.unique_id === 'pitch-button');
---
<BaseLayout>
    <div class="purple-bg">
        <section id="intro">
            <div class="content-container">
                <div class="content">
                    <h2>{introHeading.slogan}</h2>
                    <SplitNewlines content={introHeading.description}></SplitNewlines>
                    <LinkButton href={introHeading.button_navigation} label={introHeading.button_text}></LinkButton>
                </div>
            </div>
        </section>

        <section id="opsomming">
            <div class="content-container">
                <div class="content">
                    <div class="flex-content">
                        <h2>{pitchHeading.heading}</h2>
                        <div class="flex-paragraphs">
                            {pitch.slice(1, pitch.length - 1).map(part => <div>
                                <h3>{part.heading}</h3>
                                <SplitNewlines content={part.pitch_part_description}></SplitNewlines>
                            </div>)}
                        </div>
                    </div>
                    <LinkButton href={pitchButton['pitch-button_navigation']} label={pitchButton['pitch-button_text']}></LinkButton>
                </div>
            </div>
        </section>
    </div>
    <section id="methodiek">
        <div class="img-laptop"></div>
        <div class="content">
            <h2>{methodiekSection.heading}</h2>
            <SplitNewlines content={methodiekSection.description}></SplitNewlines>
            <LinkButton href={methodiekSection.button_navigation} label={methodiekSection.button_text}></LinkButton>
            <a href={methodiekSection.button_navigation}>{methodiekSection.button_text}</a>
        </div>
    </section>

    <section id="alles_is_code">
        <h2>
        <span class="green">Alles is </span><span class="strike">liefde</span><br>
        <span>Code</span><span class="green">.</span>
        </h2>
    </section>

    <section id="founders">
        <div class="alles_is_code">
            <h2>
            <span class="green">Alles is </span><span class="strike">liefde</span><br>
            <span>Code</span><span class="green">.</span>
            </h2>
        </div>
        <div class="founders">
            {founders.slice(0, 3).map(founder => (
                <Founder founder={founder} simple={true} />
            ))}
        </div>
    </section>
</BaseLayout>