---
import * as path from 'node:path';
import BaseLayout from '../layouts/base.astro'

const mds = Astro.fetchContent('../content/**/*.md');
const founders = mds.filter(md => path.dirname(md.file.pathname).endsWith('founders'));
const content = mds.filter(md => path.dirname(md.file.pathname).endsWith('home'));
const pitch = mds.filter(md => path.dirname(md.file.pathname).endsWith('pitch'));
---
<BaseLayout>
    <div class="purple-bg">
        <section id="intro">
            <div class="content-container">
                <div class="content">
                    <h2>{content[0].slogan}</h2>
                    <p>{content[0].description}</p>
                    <a href={content[0].button_navigation}>{content[0].button_text}</a>
                </div>
            </div>
        </section>

        <section id="opsomming">
            <div class="content-container">
                <div class="content">
                    <div class="flex-content">
                        <h2>{pitch[0].heading}</h2>
                        <div class="flex-paragraphs">
                            {pitch.slice(1, pitch.length - 1).map(part => <div>
                                <h3>{part.heading}</h3>
                                <p>{part.pitch_part_description}</p>
                            </div>)}
                        </div>
                    </div>
                    <a href={pitch[pitch.length - 1]['pitch-button_navigation']}>{pitch[pitch.length - 1]['pitch-button_text']}</a>
                </div>
            </div>
        </section>
    </div>
    <section id="methodiek">
        <div class="img-laptop"></div>
        <div class="content">
            <h2>{content[1].heading}</h2>
            <p>{content[1].description}</p>
            <a href={content[1].button_navigation}>{content[1].button_text}</a>
        </div>
    </section>

    <section id="alles_is_code">
        <h2>
        <span class="green">Alles is </span><span class="strike">liefde</span><br>
        <span>Code</span><span class="green">.</span>
        </h2>
    </section>

    <section id="founders">
        <div class="alles_is_code">
            <h2>
            <span class="green">Alles is </span><span class="strike">liefde</span><br>
            <span>Code</span><span class="green">.</span>
            </h2>
        </div>
        <div class="founders">
            {founders.slice(0, 4).map(founder => (
                <div class="founder">
                    <img alt="founder" src={founder.photo} />
                    <h2>
                        <span class="text-bg-black">
                            Code.<span style="color: var(--color-primary-green);">Founder</span>_{founder.name}
                        </span>
                    </h2>
                    <p>{founder.description}</p>
                    <a href="./team">Lees meer reviews</a>
                </div>
            ))}
        </div>
    </section>
</BaseLayout>