---
let title = 'My Astro Site';

// Create timestamp for deploy previews to show when last built/updated
const timestamp = process.env.DEPLOY_PREVIEW === 'true' ?
    new Intl.DateTimeFormat(
        "nl-NL",
        {
            year: "numeric",
            month: "short",
            day: "numeric",
            hour: "2-digit",
            minute: "2-digit",
            timeZoneName: "short",
        }
    ).format(new Date()) : null;

const content = Astro.fetchContent('../content/home/*.md');
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    {timestamp ?
        <span style="color: white; position: absolute; inset: 0">
            Preview last updated: {timestamp}
        </span>
        : ''
    }
    <header>
    </header>
    <main>
        <section id="intro">
            <div class="content">{content[0].astro.html}</div>
        </section>

        <section id="opsomming">
            <div class="content">
                <!-- <div class="background-blur"></div> -->
                {content[1].astro.html}
            </div>
        </section>

        <section id="methodiek">
            <div class="content">{content[2].astro.html}</div>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
