---
import * as path from 'node:path';
let title = 'Code.Founders_';

// Create timestamp for deploy previews to show when last built/updated
const timestamp = process.env.DEPLOY_PREVIEW === 'true' ?
    new Intl.DateTimeFormat(
        "nl-NL",
        {
            year: "numeric",
            month: "short",
            day: "numeric",
            hour: "2-digit",
            minute: "2-digit",
            timeZoneName: "short",
        }
    ).format(new Date()) : null;

const mds = Astro.fetchContent('../content/*/*.md');
const founders = mds.filter(md => path.dirname(md.file.pathname).endsWith('founders'));
const content = mds.filter(md => path.dirname(md.file.pathname).endsWith('home'));
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Code.Founders. If you can code, you can do anything.">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    {timestamp ?
        <span style="color: white; position: absolute; top: 65px; left: 8px;">
            Preview last updated: {timestamp}
        </span>
        : ''
    }
    <header>
        <div class="header-container">
            <div class="hamburger">
                <div class="hamburger-icon"></div>
            </div>
            <a class="header-logo" aria-label="home"><img src="/assets/images/logo/logo.png" /></a>
            <div class="search-placeholder"></div>
        </div>
    </header>
    <main>
        <div class="purple-bg">
            <section id="intro">
                <div class="content-container">
                    <div class="content">{content[0].astro.html}</div>
                </div>
            </section>

            <section id="opsomming">
                <div class="content-container">
                    <div class="content">
                        <div class="flex-content">
                            <h2 id="we-love-the-glamour-in-error">
                                <span class="text-bg-black">
                                    We love the glamour in <span style="color: var(--color-primary-green);">error<span>
                                </span>
                            </h2>
                            <div class="flex-paragraphs">
                                <div>
                                    <h3 id="fouten-maken-moet">Fouten maken moet</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                                <div>
                                <h3 id="bewezen-methodiek">Bewezen methodiek</h3>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                                <div>
                                <h3 id="code-in-6-weken">Code in 6 weken</h3>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <button>Meer over de methodiek</button>
                    </div>
                </div>
            </section>
        </div>
        <section id="methodiek">
            <div class="img-laptop"></div>
            <div class="content">{content[2].astro.html}</div>
        </section>

        <section id="founders">
            {founders[1].astro.html}
        </section>

        <section id="alles_is_code">
            <h2>
            <span class="green">Alles is </span><span class="strike">liefde</span><br>
            <span>Code</span><span class="green">.</span>
            </h2>
        </section>
    </main>
    <footer>
        <div class="socials-container">
            <img alt="linkedin" rel="noopener" target="_blank" src="/assets/images/socials/li.png" />
            <img alt="twitter" rel="noopener" target="_blank" src="/assets/images/socials/tw.png" />
            <img alt="facebook" rel="noopener" target="_blank" src="/assets/images/socials/fb.png" />
        </div>
        <div class="reference-links">
            <a>Wordt een Code.Founder_</a>
            <a>Bekijk je docenten</a>
            <a>Stel je vraag</a>
            <a>Samenwerken</a>
        </div>
        <a class="footer-logo" aria-label="Home">
            <img src="/assets/images/logo/mark-green.jpg" />
        </a>
    </footer>
</body>
</html>
