---
import LinkButton from './link-button.astro';
import SplitNewlines from '../utils/split-newlines.jsx';
const { founder, simple } = Astro.props;
---
<style>
.founder > *:not(h2, .founder__photowrapper, a) {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.founder {
  display: flex;
  flex-direction: column;
  width: min(350px, 100%);
  position: relative;
  background-color: var(--color-primary-grey);
  padding-bottom: 20px;
}

.founder__photowrapper {
  height: 300px;
}

.founder__photo {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.name {
  text-align: center;
  margin-top: -1.25rem;
  margin-bottom: 0;
  font-size: 1.75rem;
  padding: 0 1rem;
  line-height: 2.20rem;
}

.text-bg-black {
  line-height: 2.70rem;
}

.description {
  flex-grow: 1;
  margin-top: 1rem;
}

.trains {
  font-family: HelveticaNeue, sans-serif;
  margin: 1.5rem 0 0 0;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0;
}

.technology {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-family: HelveticaNeueu, sans-serif;
}

.technology img {
  width: 20px;
  padding-bottom: 3px;
}

.socials {
  display: flex;
  gap: 1rem;
  margin: 1rem auto 0 auto;
}

.social-img img {
  display: block;
  width: 28px;
}

.reviews {
  text-decoration: none;
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 1201px) {
  .founder.simple {
    padding-bottom: 50px;
  }

  .founder p:last-child {
    text-align: center;
  }
}
</style>
<div class={`founder ${simple ? 'simple' : ''}`}>
  <div class="founder__photowrapper">
    <img class="founder__photo" alt="founder" src={founder.photo} />
  </div>
  <h2 class="name">
      <span class="text-bg-black">
          Code.<span style="color: var(--color-primary-green);">Founder</span>_{founder.name}
      </span>
  </h2>
  {simple ? '' :
    <div class="socials">
      {founder.socials?.map(social =>
        <a class="social-img" aria-label={`${social.social} link`} href={social.link} target="_blank" rel="noopener">
          <img alt={`${social.social} logo`} src={`/assets/images/socials/${social.social.toLowerCase()}.png`} />
        </a>
      )}
    </div>
  }
  <div class="description">
    <SplitNewlines content={founder.description}></SplitNewlines>
  </div>
  {simple ? '' :
    <Fragment>
      {founder.technologies.length > 0 ?
        <Fragment>
        <p class="trains">Trains in:</p>
        <div class="technologies">
          {founder.technologies.map(tech =>
            <div class="technology">
              {tech.logo ? <img alt={`${tech.name} logo`} src={`https://unpkg.com/material-icon-theme/icons/${tech.logo}.svg`} /> : ''}
              <span>{tech.name}</span>
            </div>
          )}
        </div>
        </Fragment>
      : ''}
      </Fragment>
  }
  {simple ? <LinkButton class={"reviews"} href={'/preview__/team'} label={'Lees meer reviews'}></LinkButton> : ''}
</div>